.NavBar {
    background-color: #333;
    overflow: hidden;
  }

.NavBar a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.NavBar a:hover {
background-color: #ddd;
color: black;
}

.Header {
    margin: 1em;
}

.MainBody {
    margin: 1em;
    border-radius: 5px;
    background-color: #E7E9EB;
    padding: 0.5em;
}