.MemberForm input{
    display: block;
}
.MemberForm label {
    padding: 0.2em;
}
.MemberForm {
    width: 400px;
    background-color: white;
    border: black 2px solid;
    padding: 1em;
    border-radius: 30px;
}